body 
{
    background-color: floralwhite;
    margin: 0px;
}
img 
{
    width: 50%;
    display: block;
    margin: auto;
}
  
  
@keyframes sloganAnimation {
    0% {opacity: 0; transform: translateY(-100%);}
    20% {opacity: 1; transform: translateY(0);}
    50% {transform: scale(1.1);}
    70% {transform: scale(1);}
    100% {opacity: 1; transform: translateY(0);}
  }
  
  #slogan {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    opacity: 0;
    transform: translateY(-100%);
    animation: sloganAnimation 5s forwards ease-in-out;
  }
  
